.contenedor_login {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.login_link {
  text-decoration: none;
}

.card-fixed {
  position: fixed;
  margin-right: 20px;
}

.avatar {
  width: 80px;
  border-radius: 100%;
}
